In [16]:
# Importar librería para la conexión con MySQL
# -----------------------------------------------------------------------
import mysql.connector
from mysql.connector import errorcode


# Importar librerías para manipulación y análisis de datos
# -----------------------------------------------------------------------
import pandas as pd

In [10]:
cnx = mysql.connector.connect(
    user="root",
    password="AlumnaAdalab",
    host="127.0.0.1",
    auth_plugin='mysql_native_password'
)

mycursor = cnx.cursor()

try:
    mycursor.execute("CREATE DATABASE IF NOT EXISTS CineParadiso")
    print(mycursor)

except mysql.connector.Error as err:
    print(err)
    print("Error code:", err.errno)
    print("SOLSTATE", err.sqlstate)
    print("Message", err.msg)
    
cnx.close()

MySQLCursor: CREATE DATABASE IF NOT EXISTS CineParadi..

In [11]:
# Tabla FILM

cnx = mysql.connector.connect(
    user="root",
    password="AlumnaAdalab",
    host="127.0.0.1",
    database="CineParadiso",
    auth_plugin='mysql_native_password'
)

mycursor = cnx.cursor()

query = "CREATE TABLE film (film_id INT AUTO_INCREMENT PRIMARY KEY, idOwner VARCHAR (30), title VARCHAR (100), type VARCHAR (30), year VARCHAR (10), genre VARCHAR (30), screenwriter VARCHAR (50), management VARCHAR (50), plot VARCHAR (1000), length INT, rating VARCHAR (10))"

try:
    mycursor.execute(query)

    print(mycursor)
    
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
    
cnx.close()

1050 (42S01): Table 'film' already exists
Error Code: 1050
SQLSTATE 42S01
Message Table 'film' already exists

In [12]:
# Tabla CAST

cnx = mysql.connector.connect(
    user="root",
    password="AlumnaAdalab",
    host="127.0.0.1",
    database="CineParadiso",
    auth_plugin='mysql_native_password'
)

mycursor = cnx.cursor()


query = "CREATE TABLE cast (cast_id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR (50), birth VARCHAR (30), award VARCHAR (500), nomination VARCHAR (500), known_for VARCHAR (500))"

try:
    mycursor.execute(query)

    print(mycursor)
    
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
    
cnx.close()

1050 (42S01): Table 'cast' already exists
Error Code: 1050
SQLSTATE 42S01
Message Table 'cast' already exists

In [13]:
# Tabla OSCARS

cnx = mysql.connector.connect(
    user="root",
    password="AlumnaAdalab",
    host="127.0.0.1",
    database="CineParadiso",
    auth_plugin='mysql_native_password'
)

mycursor = cnx.cursor()


query = "CREATE TABLE oscars (oscar_id INT AUTO_INCREMENT PRIMARY KEY, date VARCHAR (30), best_film VARCHAR (50), best_management VARCHAR (40), best_actor VARCHAR (40), best_actress VARCHAR (40))"

try:
    mycursor.execute(query)

    print(mycursor)
    
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
    
cnx.close()

1050 (42S01): Table 'oscars' already exists
Error Code: 1050
SQLSTATE 42S01
Message Table 'oscars' already exists

In [14]:
# Tabla FILM_CAST_OSCARS

cnx = mysql.connector.connect(
    user="root",
    password="AlumnaAdalab",
    host="127.0.0.1",
    database="CineParadiso",
    auth_plugin='mysql_native_password'
)

mycursor = cnx.cursor()


query = ("""
         CREATE TABLE film_cast_oscars (
    id_film_cast_oscars INT AUTO_INCREMENT PRIMARY KEY,
    film_id INT,
    cast_id INT,
    oscar_id INT,
    FOREIGN KEY (film_id) REFERENCES film(film_id),
    FOREIGN KEY (cast_id) REFERENCES `cast`(cast_id),
    FOREIGN KEY (oscar_id) REFERENCES oscars(oscar_id));
    """)


try:
    mycursor.execute(query)

    print(mycursor)
    
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
    
cnx.close()

1050 (42S01): Table 'film_cast_oscars' already exists
Error Code: 1050
SQLSTATE 42S01
Message Table 'film_cast_oscars' already exists

In [31]:

cnx = mysql.connector.connect(
    user="root",
    password="AlumnaAdalab",
    host="127.0.0.1",
    database="CineParadiso",
    auth_plugin='mysql_native_password'
)

mycursor = cnx.cursor()

## Leer el CSV donde tengo la info:

data_movies = pd.read_csv('Oscars.csv')


query = ('INSERT INTO Oscars (date, best_film, best_management, best_actor, best_actress) VALUES (%s,%s,%s,%s,%s)')


for _, row in data_movies.iterrows():
    
    try:
        mycursor.execute(query, tuple(row))
    
    except mysql.connector.Error as err:
        print(f'Error insertando fila {row['id']}: {err}')
        
## Confirmar los cambios en la base de datos

cnx.commit()

## Cerrar el cursor y la conexión

mycursor.close()
cnx.close()

FileNotFoundError: [Errno 2] No such file or directory: 'Oscars.csv'

In [23]:
cnx = mysql.connector.connect(
    user="root",
    password="AlumnaAdalab",
    host="127.0.0.1",
    database="CineParadiso",
    auth_plugin='mysql_native_password'
)

mycursor = cnx.cursor()

## Leer el CSV donde tengo la info:

data_movies = pd.read_csv('FilmsCompleto.csv')


query = ('INSERT INTO Film (idOwner, title, type, year, genre, screenwriter, management, plot, length, rating) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)')


for _, row in data_movies.iterrows():
    
    try:
        mycursor.execute(query, tuple(row))
    
    except mysql.connector.Error as err:
        print(f'Error insertando fila {row['id']}: {err}')
        
## Confirmar los cambios en la base de datos

cnx.commit()

## Cerrar el cursor y la conexión

mycursor.close()
cnx.close()

KeyError: 'id'

In [24]:
import mysql.connector
import pandas as pd

# Conexión a la base de datos
cnx = mysql.connector.connect(
    user="root",
    password="AlumnaAdalab",
    host="127.0.0.1",
    database="CineParadiso",
    auth_plugin='mysql_native_password'
)

mycursor = cnx.cursor()

# Leer el CSV donde tienes la información
data_movies = pd.read_csv('FilmsCompleto.csv')

# Definir la consulta de inserción
query = ('INSERT INTO Film (idOwner, title, type, year, genre, screenwriter, management, plot, length, rating) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)')

# Iterar sobre cada fila del DataFrame e insertar en la base de datos
for _, row in data_movies.iterrows():
    try:
        mycursor.execute(query, tuple(row))
    except mysql.connector.Error as err:
        print(f"Error insertando fila {row['id']}: {err}")

# Confirmar los cambios en la base de datos
cnx.commit()

# Cerrar el cursor y la conexión
mycursor.close()
cnx.close()

KeyError: 'id'

In [25]:
import mysql.connector
import pandas as pd

# Conexión a la base de datos
cnx = mysql.connector.connect(
    user="root",
    password="AlumnaAdalab",
    host="127.0.0.1",
    database="CineParadiso",
    auth_plugin='mysql_native_password'
)

mycursor = cnx.cursor()

# Leer el CSV donde tienes la información
data_movies = pd.read_csv('FilmsCompleto.csv')

# Reemplazar NaN con None para asegurar que los valores nulos se insertan correctamente
data_movies = data_movies.where(pd.notnull(data_movies), None)

# Verificar que el reemplazo se realizó correctamente
print(data_movies.head())

# Definir la consulta de inserción
query = ('INSERT INTO Film (idOwner, title, type, year, genre, screenwriter, management, plot, length, rating) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)')

# Convertir DataFrame a una lista de tuplas
data_tuples = [tuple(x) for x in data_movies.to_numpy()]

# Iterar sobre cada tupla e insertar en la base de datos
for row in data_tuples:
    try:
        mycursor.execute(query, row)
    except mysql.connector.Error as err:
        print(f"Error insertando fila {row[0]}: {err}")

# Confirmar los cambios en la base de datos
cnx.commit()

# Cerrar el cursor y la conexión
mycursor.close()
cnx.close()

     idOwner                       Title   Type    Year   Genre  \
0  tt0077634  The Great Skycopter Rescue  Movie  1980.0  Action
1  tt0076709                  Si wang ta  Movie  1980.0  Action
2  tt0078428         Shao Lin yu Wu Dang  Movie  1980.0  Action
3  tt0077645               Mie jue qi qi  Movie  1980.0  Action
4  tt0079106      L'empreinte des géants  Movie  1980.0  Action

                                 guionista  \
0  ('Donald G. Jackson', 'Randall Frakes')
1                        ('Siu-Jun Wong',)
2                        ('Anthony Jesu',)
3                     ('Robert Chappell',)
4   ('Charles B. Griffith', 'Lance Smith')

                                       direccion  \
0  ('Paul Donovan', 'Digby Cook', 'Tony Randel')
1                                   Terence Hill
2                                       Bong Luk
3                              Cirio H. Santiago
4                                     Cheh Chang

                                            sinopsis  duracion(minutos)  \
0  Two men and a woman circle the globe in a sate...               88.0
1  A priest helps the small town he's stationed i...              126.0
2  The 1990 Hong Kong action classic, starring Yu...               91.0
3  Una despiadada banda de vehículos domina el pá...               85.0
4  1936, the Japanese are allied with the Kuomint...               78.0

  nota imdb
0       4,5
1       5,6
2       5,8
3       4,1
4       6,4
Error insertando fila tt0078918: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0080441: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0082532: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0084836: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0083061: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0085454: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0084738: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0086566: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0066151: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0088962: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0093663: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0092531: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0092926: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0099793: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0078411: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0079720: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0082788: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0083592: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0082469: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0085860: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0086595: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0087560: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0066020: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0086025: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0086028: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0085708: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0086964: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0089280: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0092503: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0080755: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0094735: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0095840: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0098965: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0101644: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0103770: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0075859: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0075631: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0076043: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0076321: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0076276: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0077366: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0062181: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0067100: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0075187: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0077389: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0076769: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0077472: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0077960: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0078376: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0077722: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0078769: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0078178: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0079358: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0079891: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0079799: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0080508: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0080554: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0036606: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0057461: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0065530: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0077329: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0079246: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0080867: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0080824: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0082578: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0071261: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0080570: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0081716: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0082972: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0083969: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0084384: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0084388: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0082491: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0083852: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0075745: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0084324: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0085155: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0085185: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0085309: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0067625: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0086021: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0085986: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0086909: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0087210: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0087944: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0067694: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0076900: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0084549: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0084460: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0085916: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0086584: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0086836: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0072818: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0082668: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0088274: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0090292: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0065108: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0083731: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0084548: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0087374: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0088900: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0089996: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0089382: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0091234: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0059325: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0059900: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0065188: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0068494: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0075259: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0081721: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0090665: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0093646: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0077432: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0084015: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0092507: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0094841: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0094900: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0095111: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0082891: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0084447: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0095761: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0096222: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0097631: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0099104: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0099437: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0099639: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0015724: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0074994: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0078113: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0077567: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0078791: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0078806: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0078936: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0078749: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0078880: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0078935: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0073604: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0073706: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0078871: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0078751: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0080362: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0080440: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0080607: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0073537: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0075035: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0080438: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0080787: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0082537: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0082334: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0082025: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0081432: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0083146: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0082914: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0082379: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0083973: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0082841: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0083361: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0084678: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0085233: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0073265: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0081366: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0084107: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0085364: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0085628: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0085442: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0086176: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0086563: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0068958: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0080583: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0086288: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0086849: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0087909: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0087798: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0089395: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0089850: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0088092: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0089993: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0088745: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0090057: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0090364: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0085253: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0087319: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0089238: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0088959: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0090271: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0090644: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0089561: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0088828: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0093090: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0092863: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0092853: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0092254: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0089452: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0091192: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0094720: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0094271: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0094693: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0093523: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0093211: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0094997: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0096871: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0096830: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0095878: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0096954: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0097726: 1054 (42S22): Unknown column 'nan' in 'field list'
Error insertando fila tt0081203: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0082279: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0082285: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0087512: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0089409: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0088920: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0089857: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0089678: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0092632: 1406 (22001): Data too long for column 'screenwriter' at row 1
Error insertando fila tt0092588: 1406 (22001): Data too long for column 'screenwriter' at row 1

In [33]:
import mysql.connector
import pandas as pd

# Conexión a la base de datos
cnx = mysql.connector.connect(
    user="root",
    password="AlumnaAdalab",
    host="127.0.0.1",
    database="CineParadiso",
    auth_plugin='mysql_native_password'
)

mycursor = cnx.cursor()

# Leer el CSV donde tienes la información
data_movies = pd.read_csv('tabla_actores.csv')

# Reemplazar NaN con None para asegurar que los valores nulos se insertan correctamente
data_movies = data_movies.where(pd.notnull(data_movies), None)

# Verificar que el reemplazo se realizó correctamente
print(data_movies.head())

# Definir la consulta de inserción
query = ('INSERT INTO Cast (name, birth, award, nomination, known_for) VALUES (%s,%s,%s,%s,%s)')

# Convertir DataFrame a una lista de tuplas
data_tuples = [tuple(x) for x in data_movies.to_numpy()]

# Iterar sobre cada tupla e insertar en la base de datos
for row in data_tuples:
    try:
        mycursor.execute(query, row)
    except mysql.connector.Error as err:
        print(f"Error insertando fila {row[0]}: {err}")

# Confirmar los cambios en la base de datos
cnx.commit()

# Cerrar el cursor y la conexión
mycursor.close()
cnx.close()

             Nombre                Nacimiento  \
0          Aldo Ray  25 de septiembre de 1926
1  William Marshall      19 de agosto de 1924
2      Terry Michos   26 de diciembre de 1953
3   Russell Johnson   10 de noviembre de 1924
4    Paul Tanashian       13 de marzo de 1960

                                             Premios Nominaciones  \
0  {'premios ganados': ['1979 Ganador AFAA Award'...         None
1                                               None         None
2                                               None         None
3  {'premios ganados': ['2007 Nominado TV Land Aw...         None
4                                               None         None

                                        Conocido por
0  ('No somos ángeles', 'La impetuosa', 'Nimh: El...
1  ('Drácula negro', 'Maverick', 'Grita Blácula g...
2  ('Los amos de la noche', 'El gran desafío en h...
3  ('La isla de Gílligan', 'Regreso a la Tierra',...
4  ('Furia oriental', 'El furor del dragón', 'Ope...