In [1]:
# Importar librería para la conexión con MySQL
# -----------------------------------------------------------------------
import mysql.connector
from mysql.connector import errorcode


# Importar librerías para manipulación y análisis de datos
# -----------------------------------------------------------------------
import pandas as pd

In [2]:
cnx = mysql.connector.connect(
    user="root",
    password="AlumnaAdalab",
    host="127.0.0.1",
    auth_plugin='mysql_native_password'
)

mycursor = cnx.cursor()

try:
    mycursor.execute("CREATE DATABASE IF NOT EXISTS CineParadiso")
    print(mycursor)

except mysql.connector.Error as err:
    print(err)
    print("Error code:", err.errno)
    print("SOLSTATE", err.sqlstate)
    print("Message", err.msg)
    
cnx.close()

MySQLCursor: CREATE DATABASE IF NOT EXISTS CineParadi..

In [6]:
# Tabla FILM

cnx = mysql.connector.connect(
    user="root",
    password="AlumnaAdalab",
    host="127.0.0.1",
    database="CineParadiso",
    auth_plugin='mysql_native_password'
)

mycursor = cnx.cursor()

query = "CREATE TABLE film (film_id INT AUTO_INCREMENT PRIMARY KEY, idOwner VARCHAR (30), title VARCHAR (100), type VARCHAR (30), year VARCHAR (10), genre VARCHAR (30), screenwriter VARCHAR (50), management VARCHAR (50), plot VARCHAR (1000), length INT, rating VARCHAR (10))"

try:
    mycursor.execute(query)

    print(mycursor)
    
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
    
cnx.close()

MySQLCursor: CREATE TABLE film (film_id INT AUTO_INCR..

In [7]:
# Tabla CAST

cnx = mysql.connector.connect(
    user="root",
    password="AlumnaAdalab",
    host="127.0.0.1",
    database="CineParadiso",
    auth_plugin='mysql_native_password'
)

mycursor = cnx.cursor()


query = "CREATE TABLE cast (cast_id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR (50), birth VARCHAR (30), award VARCHAR (60), nomination VARCHAR (60), known_for VARCHAR (500))"

try:
    mycursor.execute(query)

    print(mycursor)
    
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
    
cnx.close()

MySQLCursor: CREATE TABLE cast (cast_id INT AUTO_INCR..

In [8]:
# Tabla OSCARS

cnx = mysql.connector.connect(
    user="root",
    password="AlumnaAdalab",
    host="127.0.0.1",
    database="CineParadiso",
    auth_plugin='mysql_native_password'
)

mycursor = cnx.cursor()


query = "CREATE TABLE oscars (oscar_id INT AUTO_INCREMENT PRIMARY KEY, date VARCHAR (30), best_film VARCHAR (50), best_management VARCHAR (40), best_actor VARCHAR (40), best_actress VARCHAR (40))"

try:
    mycursor.execute(query)

    print(mycursor)
    
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
    
cnx.close()

MySQLCursor: CREATE TABLE oscars (oscar_id INT AUTO_I..

In [12]:
# Tabla FILM_CAST_OSCARS

cnx = mysql.connector.connect(
    user="root",
    password="AlumnaAdalab",
    host="127.0.0.1",
    database="CineParadiso",
    auth_plugin='mysql_native_password'
)

mycursor = cnx.cursor()


query = ("""
         CREATE TABLE film_cast_oscars (
    id_film_cast_oscars INT AUTO_INCREMENT PRIMARY KEY,
    film_id INT,
    cast_id INT,
    oscar_id INT,
    FOREIGN KEY (film_id) REFERENCES film(film_id),
    FOREIGN KEY (cast_id) REFERENCES `cast`(cast_id),
    FOREIGN KEY (oscar_id) REFERENCES oscars(oscar_id));
    """)


try:
    mycursor.execute(query)

    print(mycursor)
    
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
    
cnx.close()

MySQLCursor:
         CREATE TABLE film_cast_oscars ..

In [ ]:

cnx = mysql.connector.connect(
    user="root",
    password="AlumnaAdalab",
    host="127.0.0.1",
    database="CinemExtract"
    auth_plugin='mysql_native_password'
)

mycursor = cnx.cursor()

## Leer el CSV donde tengo la info:

data_movies = pd.read_csv('CSVpelis.csv')
data_movies_details = pd.read_csv('CSVinfopelis.csv')

## Unir los df para tener todo junto con merge para unir los ids. Se tienen que llamar igual en los dos csv para unirlos

df = pd.merge(data_movies, data_movies_details, on='id', how='inner')

df

## Insertar los datos en la tabla

query = ''

for _, row in df.iterrows():
    
    try:
        mycursor.execute(query, tuple(row))
    
    except mysql.connector.Error as err:
        print(f'Error insertando fila {row['id']}: {err}')
        
## Confirmar los cambios en la base de datos

cnx.commit()

## Cerrar el cursor y la conexión

mycursor.close()
cnx.close()