In [1]:
# Importar librería para la conexión con MySQL
# -----------------------------------------------------------------------
import mysql.connector
from mysql.connector import errorcode


# Importar librerías para manipulación y análisis de datos
# -----------------------------------------------------------------------
import pandas as pd

In [2]:
cnx = mysql.connector.connect(
    user="root",
    password="AlumnaAdalab",
    host="127.0.0.1",
    auth_plugin='mysql_native_password'
)

mycursor = cnx.cursor()

try:
    mycursor.execute("CREATE DATABASE IF NOT EXISTS CineParadiso")
    print(mycursor)

except mysql.connector.Error as err:
    print(err)
    print("Error code:", err.errno)
    print("SOLSTATE", err.sqlstate)
    print("Message", err.msg)
    
cnx.close()

MySQLCursor: CREATE DATABASE IF NOT EXISTS CineParadi..

In [7]:
# Tabla FILM

cnx = mysql.connector.connect(
    user="root",
    password="AlumnaAdalab",
    host="127.0.0.1",
    database="CineParadiso",
    auth_plugin='mysql_native_password'
)

mycursor = cnx.cursor()

query = "CREATE TABLE film (film_id INT AUTO_INCREMENT PRIMARY KEY, idOwner VARCHAR (30), title VARCHAR (100), type VARCHAR (30), year VARCHAR (10), genre VARCHAR (30), screenwriter VARCHAR (200), management VARCHAR (200), plot VARCHAR (1000), length INT, rating VARCHAR (10))"

try:
    mycursor.execute(query)

    print(mycursor)
    
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
    
cnx.close()

MySQLCursor: CREATE TABLE film (film_id INT AUTO_INCR..

In [3]:
# Tabla CAST

cnx = mysql.connector.connect(
    user="root",
    password="AlumnaAdalab",
    host="127.0.0.1",
    database="CineParadiso",
    auth_plugin='mysql_native_password'
)

mycursor = cnx.cursor()


query = "CREATE TABLE cast (cast_id INT AUTO_INCREMENT PRIMARY KEY, idOwner VARCHAR (10), name VARCHAR (50), birth VARCHAR (30), award VARCHAR (500), nomination VARCHAR (500), known_for VARCHAR (500))"
try: 
                                                                                           
    mycursor.execute(query)

    print(mycursor)
    
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
    
cnx.close()

MySQLCursor: CREATE TABLE cast (cast_id INT AUTO_INCR..

In [9]:
# Tabla OSCARS

cnx = mysql.connector.connect(
    user="root",
    password="AlumnaAdalab",
    host="127.0.0.1",
    database="CineParadiso",
    auth_plugin='mysql_native_password'
)

mycursor = cnx.cursor()


query = "CREATE TABLE oscars (oscar_id INT AUTO_INCREMENT PRIMARY KEY, date VARCHAR (30), best_film VARCHAR (50), best_management VARCHAR (40), best_actor VARCHAR (40), best_actress VARCHAR (40))"

try:
    mycursor.execute(query)

    print(mycursor)
    
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
    
cnx.close()

MySQLCursor: CREATE TABLE oscars (oscar_id INT AUTO_I..

In [19]:
# Tabla FILM_CAST_OSCARS

cnx = mysql.connector.connect(
    user="root",
    password="AlumnaAdalab",
    host="127.0.0.1",
    database="CineParadiso",
    auth_plugin='mysql_native_password'
)

mycursor = cnx.cursor()


query = ("""
         CREATE TABLE film_cast(
    id_film_cast INT AUTO_INCREMENT PRIMARY KEY,
    cast_id INT,
    idOwner VARCHAR (10),
    name VARCHAR (50),
    film_id INT, 
    title VARCHAR(50),
    FOREIGN KEY (film_id) REFERENCES film (film_id)
    ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (cast_id) REFERENCES cast (cast_id)
    ON DELETE CASCADE ON UPDATE CASCADE);
    """)


try:
    mycursor.execute(query)

    print(mycursor)
    
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
    
cnx.close()

MySQLCursor:
         CREATE TABLE film_cast(
    id..

In [2]:

cnx = mysql.connector.connect(
    user="root",
    password="AlumnaAdalab",
    host="127.0.0.1",
    database="CineParadiso",
    auth_plugin='mysql_native_password'
)

mycursor = cnx.cursor()

## Leer el CSV donde tengo la info:

data_movies = pd.read_csv('../info_tablas_csv/Oscars.csv')

# Reemplazar NaN con None para asegurar que los valores nulos se insertan correctamente
data_movies = data_movies.where(pd.notnull(data_movies), None)


query = 'INSERT INTO Oscars (date, best_film, best_management, best_actor, best_actress) VALUES (%s,%s,%s,%s,%s)'


for _, row in data_movies.iterrows():
    
    try:
        mycursor.execute(query, tuple(row))
    
    except mysql.connector.Error as err:
        print(f"Error insertando fila {row['id']}: {err}")
        
## Confirmar los cambios en la base de datos

cnx.commit()

## Cerrar el cursor y la conexión

mycursor.close()
cnx.close()

In [3]:
cnx = mysql.connector.connect(
    user="root",
    password="AlumnaAdalab",
    host="127.0.0.1",
    database="CineParadiso",
    auth_plugin='mysql_native_password'
)

mycursor = cnx.cursor()

## Leer el CSV donde tengo la info:

data_movie = pd.read_csv('../info_tablas_csv/FilmsCompleto.csv')

# Reemplazar NaN con None para asegurar que los valores nulos se insertan correctamente
data_movies = data_movies.where(pd.notnull(data_movies), None)



query = 'INSERT INTO film (idOwner, title, type, year, genre, screenwriter, management, plot, length, rating) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'


for _, row in data_movie.iterrows():
    
    try:
        mycursor.execute(query, tuple(row))
    
    except mysql.connector.Error as err:
        print(f"Error insertando fila {row['idOwner']}: {err}")
        
## Confirmar los cambios en la base de datos

cnx.commit()

## Cerrar el cursor y la conexión

mycursor.close()
cnx.close()

In [7]:
cnx = mysql.connector.connect(
    user="root",
    password="AlumnaAdalab",
    host="127.0.0.1",
    database="CineParadiso",
    auth_plugin='mysql_native_password'
)

mycursor = cnx.cursor()

## Leer el CSV donde tengo la info:

data_movie = pd.read_csv('../info_tablas_csv/actor_final.csv')

# Reemplazar NaN con None para asegurar que los valores nulos se insertan correctamente
data_movies = data_movies.where(pd.notnull(data_movies), None)



query = 'INSERT INTO cast (name, idOwner, birth, award, nomination, known_for) VALUES (%s,%s,%s,%s,%s,%s)'


for _, row in data_movie.iterrows():
    
    try:
        mycursor.execute(query, tuple(row))
    
    except mysql.connector.Error as err:
        print(f"Error insertando fila {row['idOwner']}: {err}")
        
## Confirmar los cambios en la base de datos

cnx.commit()

## Cerrar el cursor y la conexión

mycursor.close()
cnx.close()

In [8]:
cnx = mysql.connector.connect(user = "root", password = "AlumnaAdalab", host ="127.0.0.1", database = "CineParadiso",
    auth_plugin='mysql_native_password')

mycursor = cnx.cursor()

query = ("SELECT cast_id, idOwner, name, film_id, title FROM film INNER JOIN cast USING(idOwner)")

mycursor.execute(query)

tabla_cast_id_film_id = mycursor.fetchall()
print(tabla_cast_id_film_id)

[(365, 'tt0077634', 'Paul Tanashian', 1, 'The Great Skycopter Rescue'), (364, 'tt0077634', 'Russell Johnson', 1, 'The Great Skycopter Rescue'), (363, 'tt0077634', 'Terry Michos', 1, 'The Great Skycopter Rescue'), (362, 'tt0077634', 'William Marshall', 1, 'The Great Skycopter Rescue'), (361, 'tt0077634', 'Aldo Ray', 1, 'The Great Skycopter Rescue'), (343, 'tt0077634', 'Aldo Ray', 1, 'The Great Skycopter Rescue'), (5, 'tt0077634', 'Paul Tanashian', 1, 'The Great Skycopter Rescue'), (4, 'tt0077634', 'Russell Johnson', 1, 'The Great Skycopter Rescue'), (3, 'tt0077634', 'Terry Michos', 1, 'The Great Skycopter Rescue'), (2, 'tt0077634', 'William Marshall', 1, 'The Great Skycopter Rescue'), (1, 'tt0077634', 'Aldo Ray', 1, 'The Great Skycopter Rescue'), (370, 'tt0076709', 'Roy Chiao', 2, 'Si wang ta'), (369, 'tt0076709', 'Roy Horan', 2, 'Si wang ta'), (368, 'tt0076709', 'Jeong-lee Hwang', 2, 'Si wang ta'), (367, 'tt0076709', 'Tae-jeong Kim', 2, 'Si wang ta'), (366, 'tt0076709', 'Bruce Lee', 2, 'Si wang ta'), (10, 'tt0076709', 'Roy Chiao', 2, 'Si wang ta'), (9, 'tt0076709', 'Roy Horan', 2, 'Si wang ta'), (8, 'tt0076709', 'Jeong-lee Hwang', 2, 'Si wang ta'), (7, 'tt0076709', 'Tae-jeong Kim', 2, 'Si wang ta'), (6, 'tt0076709', 'Bruce Lee', 2, 'Si wang ta'), (375, 'tt0078428', 'Kei-San Chan', 3, 'Shao Lin yu Wu Dang'), (374, 'tt0078428', 'Feng Lu', 3, 'Shao Lin yu Wu Dang'), (373, 'tt0078428', 'Li Wang', 3, 'Shao Lin yu Wu Dang'), (372, 'tt0078428', 'Sheng Chiang', 3, 'Shao Lin yu Wu Dang'), (371, 'tt0078428', 'Meng Lo', 3, 'Shao Lin yu Wu Dang'), (15, 'tt0078428', 'Kei-San Chan', 3, 'Shao Lin yu Wu Dang'), (14, 'tt0078428', 'Feng Lu', 3, 'Shao Lin yu Wu Dang'), (13, 'tt0078428', 'Li Wang', 3, 'Shao Lin yu Wu Dang'), (12, 'tt0078428', 'Sheng Chiang', 3, 'Shao Lin yu Wu Dang'), (11, 'tt0078428', 'Meng Lo', 3, 'Shao Lin yu Wu Dang'), (381, 'tt0077645', 'Brad Harris', 4, 'Mie jue qi qi'), (380, 'tt0077645', 'Nadiuska', 4, 'Mie jue qi qi'), (379, 'tt0077645', 'Jeong-lee Hwang', 4, 'Mie jue qi qi'), (378, 'tt0077645', 'Richard Harrison', 4, 'Mie jue qi qi'), (377, 'tt0077645', 'Bruce Le', 4, 'Mie jue qi qi'), (376, 'tt0077645', 'Bruce Le', 4, 'Mie jue qi qi'), (21, 'tt0077645', 'Brad Harris', 4, 'Mie jue qi qi'), (20, 'tt0077645', 'Nadiuska', 4, 'Mie jue qi qi'), (19, 'tt0077645', 'Jeong-lee Hwang', 4, 'Mie jue qi qi'), (18, 'tt0077645', 'Richard Harrison', 4, 'Mie jue qi qi'), (17, 'tt0077645', 'Bruce Le', 4, 'Mie jue qi qi'), (16, 'tt0077645', 'Bruce Le', 4, 'Mie jue qi qi'), (386, 'tt0079106', 'Raimund Harmstorf', 5, "L'empreinte des géants"), (385, 'tt0079106', 'Andréa Ferréol', 5, "L'empreinte des géants"), (384, 'tt0079106', 'Mario Adorf', 5, "L'empreinte des géants"), (383, 'tt0079106', 'Serge Reggiani', 5, "L'empreinte des géants"), (382, 'tt0079106', 'Zoé Chauveau', 5, "L'empreinte des géants"), (26, 'tt0079106', 'Raimund Harmstorf', 5, "L'empreinte des géants"), (25, 'tt0079106', 'Andréa Ferréol', 5, "L'empreinte des géants"), (24, 'tt0079106', 'Mario Adorf', 5, "L'empreinte des géants"), (23, 'tt0079106', 'Serge Reggiani', 5, "L'empreinte des géants"), (22, 'tt0079106', 'Zoé Chauveau', 5, "L'empreinte des géants"), (391, 'tt0078941', 'Gloria Chávez', 6, 'Carlos el terrorista'), (390, 'tt0078941', 'Pablo Ferrel', 6, 'Carlos el terrorista'), (389, 'tt0078941', 'René Cardona III', 6, 'Carlos el terrorista'), (388, 'tt0078941', 'Alicia Encinas', 6, 'Carlos el terrorista'), (387, 'tt0078941', 'Andrés García', 6, 'Carlos el terrorista'), (396, 'tt0078726', 'Chung Wang', 7, 'Ba jue'), (395, 'tt0078726', 'Michael Wai-Man Chan', 7, 'Ba jue'), (394, 'tt0078726', 'Tao-Liang Tan', 7, 'Ba jue'), (393, 'tt0078726', 'Yun Ling', 7, 'Ba jue'), (392, 'tt0078726', 'Feng Hsu', 7, 'Ba jue'), (401, 'tt0078918', 'Frank Converse', 8, 'The Bushido Blade'), (400, 'tt0078918', 'Timothy Patrick Murphy', 8, 'The Bushido Blade'), (399, 'tt0078918', 'Mike Starr', 8, 'The Bushido Blade'), (398, 'tt0078918', 'Toshirô Mifune', 8, 'The Bushido Blade'), (397, 'tt0078918', 'Richard Boone', 8, 'The Bushido Blade'), (405, 'tt0079712', 'Narciso Busquets', 9, 'Perro callejero II'), (404, 'tt0079712', 'Patricia Rivera', 9, 'Perro callejero II'), (403, 'tt0079712', 'Blanca Guerra', 9, 'Perro callejero II'), (402, 'tt0079712', 'Valentín Trujillo', 9, 'Perro callejero II'), (406, 'tt0079896', 'Sheng Chiang', 10, 'She diao ying xiong chuan san ji'), (27, 'tt0079896', 'Sheng Chiang', 10, 'She diao ying xiong chuan san ji'), (411, 'tt0068745', 'Diana Jovanovic', 87, 'Intime Liebschaften'), (410, 'tt0068745', 'Petra Dyrthen', 87, 'Intime Liebschaften'), (409, 'tt0068745', 'Peter Bond', 87, 'Intime Liebschaften'), (408, 'tt0068745', 'Günther Amann', 87, 'Intime Liebschaften'), (407, 'tt0068745', 'Rainer Abendroth', 87, 'Intime Liebschaften'), (32, 'tt0068745', 'Diana Jovanovic', 87, 'Intime Liebschaften'), (31, 'tt0068745', 'Petra Dyrthen', 87, 'Intime Liebschaften'), (30, 'tt0068745', 'Peter Bond', 87, 'Intime Liebschaften'), (29, 'tt0068745', 'Günther Amann', 87, 'Intime Liebschaften'), (28, 'tt0068745', 'Rainer Abendroth', 87, 'Intime Liebschaften'), (416, 'tt0075332', 'Renate Langer', 88, 'Zärtlich, aber frech wie Oskar'), (415, 'tt0075332', 'Herbert Fux', 88, 'Zärtlich, aber frech wie Oskar'), (414, 'tt0075332', 'Tobias Meister', 88, 'Zärtlich, aber frech wie Oskar'), (413, 'tt0075332', 'Patricia Zenker', 88, 'Zärtlich, aber frech wie Oskar'), (412, 'tt0075332', 'Régis Porte', 88, 'Zärtlich, aber frech wie Oskar'), (37, 'tt0075332', 'Renate Langer', 88, 'Zärtlich, aber frech wie Oskar'), (36, 'tt0075332', 'Herbert Fux', 88, 'Zärtlich, aber frech wie Oskar'), (35, 'tt0075332', 'Tobias Meister', 88, 'Zärtlich, aber frech wie Oskar'), (34, 'tt0075332', 'Patricia Zenker', 88, 'Zärtlich, aber frech wie Oskar'), (33, 'tt0075332', 'Régis Porte', 88, 'Zärtlich, aber frech wie Oskar'), (419, 'tt0076464', 'Chun-Hua Li', 89, 'You ni mei ni'), (418, 'tt0076464', 'Ching Yee Chong', 89, 'You ni mei ni'), (417, 'tt0076464', 'Paul Che', 89, 'You ni mei ni'), (40, 'tt0076464', 'Chun-Hua Li', 89, 'You ni mei ni'), (39, 'tt0076464', 'Ching Yee Chong', 89, 'You ni mei ni'), (38, 'tt0076464', 'Paul Che', 89, 'You ni mei ni'), (424, 'tt0076580', 'Johnny Koo', 90, 'Qian zuo guai'), (423, 'tt0076580', 'Jing Tang', 90, 'Qian zuo guai'), (422, 'tt0076580', 'Ka Yik', 90, 'Qian zuo guai'), (421, 'tt0076580', 'Chi-Chi Chen', 90, 'Qian zuo guai'), (420, 'tt0076580', 'Ricky Hui', 90, 'Qian zuo guai'), (45, 'tt0076580', 'Johnny Koo', 90, 'Qian zuo guai'), (44, 'tt0076580', 'Jing Tang', 90, 'Qian zuo guai'), (43, 'tt0076580', 'Ka Yik', 90, 'Qian zuo guai'), (42, 'tt0076580', 'Chi-Chi Chen', 90, 'Qian zuo guai'), (41, 'tt0076580', 'Ricky Hui', 90, 'Qian zuo guai'), (429, 'tt0077367', 'Maika Lesley', 91, 'Consultorio sexológico'), (428, 'tt0077367', 'Valerio Ferrer', 91, 'Consultorio sexológico'), (427, 'tt0077367', 'Fabián Conde', 91, 'Consultorio sexológico'), (426, 'tt0077367', 'Saturno Cerra', 91, 'Consultorio sexológico'), (425, 'tt0077367', 'Lidia Zuazo', 91, 'Consultorio sexológico'), (50, 'tt0077367', 'Maika Lesley', 91, 'Consultorio sexológico'), (49, 'tt0077367', 'Valerio Ferrer', 91, 'Consultorio sexológico'), (48, 'tt0077367', 'Fabián Conde', 91, 'Consultorio sexológico'), (47, 'tt0077367', 'Saturno Cerra', 91, 'Consultorio sexológico'), (46, 'tt0077367', 'Lidia Zuazo', 91, 'Consultorio sexológico'), (434, 'tt0077428', 'Lisa Langlois', 92, 'It Rained All Night the Day I Left'), (433, 'tt0077428', 'John Vernon', 92, 'It Rained All Night the Day I Left'), (432, 'tt0077428', 'Sally Kellerman', 92, 'It Rained All Night the Day I Left'), (431, 'tt0077428', 'Louis Gossett Jr.', 92, 'It Rained All Night the Day I Left'), (430, 'tt0077428', 'Tony Curtis', 92, 'It Rained All Night the Day I Left'), (55, 'tt0077428', 'Lisa Langlois', 92, 'It Rained All Night the Day I Left'), (54, 'tt0077428', 'John Vernon', 92, 'It Rained All Night the Day I Left'), (53, 'tt0077428', 'Sally Kellerman', 92, 'It Rained All Night the Day I Left'), (52, 'tt0077428', 'Louis Gossett Jr.', 92, 'It Rained All Night the Day I Left'), (51, 'tt0077428', 'Tony Curtis', 92, 'It Rained All Night the Day I Left'), (439, 'tt0077883', 'Jan Hrusínský', 93, 'Lásky mezi kapkami deste'), (438, 'tt0077883', 'Michal Dlouhý', 93, 'Lásky mezi kapkami deste'), (437, 'tt0077883', 'Lukás Vaculík', 93, 'Lásky mezi kapkami deste'), (436, 'tt0077883', 'Vladimír Mensík', 93, 'Lásky mezi kapkami deste'), (435, 'tt0077883', 'Eduard Cupák', 93, 'Lásky mezi kapkami deste'), (60, 'tt0077883', 'Jan Hrusínský', 93, 'Lásky mezi kapkami deste'), (59, 'tt0077883', 'Michal Dlouhý', 93, 'Lásky mezi kapkami deste'), (58, 'tt0077883', 'Lukás Vaculík', 93, 'Lásky mezi kapkami deste'), (57, 'tt0077883', 'Vladimír Mensík', 93, 'Lásky mezi kapkami deste'), (56, 'tt0077883', 'Eduard Cupák', 93, 'Lásky mezi kapkami deste'), (444, 'tt0078853', 'Adrian Hoven', 94, 'Car-Napping - Bestellt, geklaut, geliefert'), (443, 'tt0078853', 'Ivan Desny', 94, 'Car-Napping - Bestellt, geklaut, geliefert'), (442, 'tt0078853', 'Hans Beerhenke', 94, 'Car-Napping - Bestellt, geklaut, geliefert'), (441, 'tt0078853', 'Anny Duperey', 94, 'Car-Napping - Bestellt, geklaut, geliefert'), (440, 'tt0078853', 'Bernd Stephan', 94, 'Car-Napping - Bestellt, geklaut, geliefert'), (65, 'tt0078853', 'Adrian Hoven', 94, 'Car-Napping - Bestellt, geklaut, geliefert'), (64, 'tt0078853', 'Ivan Desny', 94, 'Car-Napping - Bestellt, geklaut, geliefert'), (63, 'tt0078853', 'Hans Beerhenke', 94, 'Car-Napping - Bestellt, geklaut, geliefert'), (62, 'tt0078853', 'Anny Duperey', 94, 'Car-Napping - Bestellt, geklaut, geliefert'), (61, 'tt0078853', 'Bernd Stephan', 94, 'Car-Napping - Bestellt, geklaut, geliefert'), (445, 'tt0078304', 'Monika Dzienisiewicz-Olbrychska', 95, 'Sowizdrzal swietokrzyski'), (66, 'tt0078304', 'Monika Dzienisiewicz-Olbrychska', 95, 'Sowizdrzal swietokrzyski'), (451, 'tt0075859', 'Bruce Thai', 169, 'De draken van Bruce Lee'), (450, 'tt0075859', 'Il-do Jang', 169, 'De draken van Bruce Lee'), (449, 'tt0075859', 'Bruce Le', 169, 'De draken van Bruce Lee'), (448, 'tt0075859', 'Bruce Le', 169, 'De draken van Bruce Lee'), (447, 'tt0075859', 'Irina Shevchenko', 169, 'De draken van Bruce Lee'), (446, 'tt0075859', 'Ryong Keo', 169, 'De draken van Bruce Lee'), (72, 'tt0075859', 'Bruce Thai', 169, 'De draken van Bruce Lee'), (71, 'tt0075859', 'Il-do Jang', 169, 'De draken van Bruce Lee'), (70, 'tt0075859', 'Bruce Le', 169, 'De draken van Bruce Lee'), (69, 'tt0075859', 'Bruce Le', 169, 'De draken van Bruce Lee'), (68, 'tt0075859', 'Irina Shevchenko', 169, 'De draken van Bruce Lee'), (67, 'tt0075859', 'Ryong Keo', 169, 'De draken van Bruce Lee'), (453, 'tt0075631', 'Virgílio Massinge', 170, 'Acto dos Feitos da Guiné'), (452, 'tt0075631', 'José Gomes', 170, 'Acto dos Feitos da Guiné'), (74, 'tt0075631', 'Virgílio Massinge', 170, 'Acto dos Feitos da Guiné'), (73, 'tt0075631', 'José Gomes', 170, 'Acto dos Feitos da Guiné'), (458, 'tt0076043', 'Antonio Orlando', 171, 'Fontamara'), (457, 'tt0076043', 'Imma Piro', 171, 'Fontamara'), (456, 'tt0076043', 'Antonella Murgia', 171, 'Fontamara'), (455, 'tt0076043', 'Ida Di Benedetto', 171, 'Fontamara'), (454, 'tt0076043', 'Michele Placido', 171, 'Fontamara'), (79, 'tt0076043', 'Antonio Orlando', 171, 'Fontamara'), (78, 'tt0076043', 'Imma Piro', 171, 'Fontamara'), (77, 'tt0076043', 'Antonella Murgia', 171, 'Fontamara'), (76, 'tt0076043', 'Ida Di Benedetto', 171, 'Fontamara'), (75, 'tt0076043', 'Michele Placido', 171, 'Fontamara'), (463, 'tt0076321', 'Nancy Yen', 172, 'Liu he ba fa'), (462, 'tt0076321', 'Siu-Tin Yuen', 172, 'Liu he ba fa'), (461, 'tt0076321', 'Paul Chun', 172, 'Liu he ba fa'), (460, 'tt0076321', 'Hua Yueh', 172, 'Liu he ba fa'), (459, 'tt0076321', 'David Chiang', 172, 'Liu he ba fa'), (84, 'tt0076321', 'Nancy Yen', 172, 'Liu he ba fa'), (83, 'tt0076321', 'Siu-Tin Yuen', 172, 'Liu he ba fa'), (82, 'tt0076321', 'Paul Chun', 172, 'Liu he ba fa'), (81, 'tt0076321', 'Hua Yueh', 172, 'Liu he ba fa'), (80, 'tt0076321', 'David Chiang', 172, 'Liu he ba fa'), (468, 'tt0076276', 'Neda Arneric', 173, 'Ko to tamo peva'), (467, 'tt0076276', 'Aleksandar Bercek', 173, 'Ko to tamo peva'), (466, 'tt0076276', "Danilo 'Bata' Stojkovic", 173, 'Ko to tamo peva'), (465, 'tt0076276', 'Dragan Nikolic', 173, 'Ko to tamo peva'), (464, 'tt0076276', 'Pavle Vuisic', 173, 'Ko to tamo peva'), (89, 'tt0076276', 'Neda Arneric', 173, 'Ko to tamo peva'), (88, 'tt0076276', 'Aleksandar Bercek', 173, 'Ko to tamo peva'), (87, 'tt0076276', "Danilo 'Bata' Stojkovic", 173, 'Ko to tamo peva'), (86, 'tt0076276', 'Dragan Nikolic', 173, 'Ko to tamo peva'), (85, 'tt0076276', 'Pavle Vuisic', 173, 'Ko to tamo peva'), (474, 'tt0077366', 'Patricia Bernal', 174, 'Constelaciones'), (473, 'tt0077366', 'Rebeca Aranoni', 174, 'Constelaciones'), (472, 'tt0077366', 'Jorge Humberto Robles', 174, 'Constelaciones'), (471, 'tt0077366', 'Jorge Humberto Robles', 174, 'Constelaciones'), (470, 'tt0077366', 'Sergio Jiménez', 174, 'Constelaciones'), (469, 'tt0077366', 'Ana Ofelia Murguía', 174, 'Constelaciones'), (95, 'tt0077366', 'Patricia Bernal', 174, 'Constelaciones'), (94, 'tt0077366', 'Rebeca Aranoni', 174, 'Constelaciones'), (93, 'tt0077366', 'Jorge Humberto Robles', 174, 'Constelaciones'), (92, 'tt0077366', 'Jorge Humberto Robles', 174, 'Constelaciones'), (91, 'tt0077366', 'Sergio Jiménez', 174, 'Constelaciones'), (90, 'tt0077366', 'Ana Ofelia Murguía', 174, 'Constelaciones'), (479, 'tt0062181', 'Bogumil Kobiela', 175, 'Rece do góry'), (478, 'tt0062181', 'Adam Hanuszkiewicz', 175, 'Rece do góry'), (477, 'tt0062181', 'Tadeusz Lomnicki', 175, 'Rece do góry'), (476, 'tt0062181', 'Joanna Szczerbic', 175, 'Rece do góry'), (475, 'tt0062181', 'Jerzy Skolimowski', 175, 'Rece do góry'), (100, 'tt0062181', 'Bogumil Kobiela', 175, 'Rece do góry'), (99, 'tt0062181', 'Adam Hanuszkiewicz', 175, 'Rece do góry'), (98, 'tt0062181', 'Tadeusz Lomnicki', 175, 'Rece do góry'), (97, 'tt0062181', 'Joanna Szczerbic', 175, 'Rece do góry'), (96, 'tt0062181', 'Jerzy Skolimowski', 175, 'Rece do góry'), (484, 'tt0067100', 'Pete Cooper', 176, 'Firecracker'), (483, 'tt0067100', 'Ken Metcalfe', 176, 'Firecracker'), (482, 'tt0067100', 'Rey Malonzo', 176, 'Firecracker'), (481, 'tt0067100', 'Darby Hinton', 176, 'Firecracker'), (480, 'tt0067100', 'Jillian Kesner', 176, 'Firecracker'), (105, 'tt0067100', 'Pete Cooper', 176, 'Firecracker'), (104, 'tt0067100', 'Ken Metcalfe', 176, 'Firecracker'), (103, 'tt0067100', 'Rey Malonzo', 176, 'Firecracker'), (102, 'tt0067100', 'Darby Hinton', 176, 'Firecracker'), (101, 'tt0067100', 'Jillian Kesner', 176, 'Firecracker'), (489, 'tt0075187', 'María José Demare', 177, 'Seis pasajes al infierno'), (488, 'tt0075187', 'Elena Cruz', 177, 'Seis pasajes al infierno'), (487, 'tt0075187', 'Tom Castronuova', 177, 'Seis pasajes al infierno'), (486, 'tt0075187', 'María Aurelia Bisutti', 177, 'Seis pasajes al infierno'), (485, 'tt0075187', 'Hilda Bernard', 177, 'Seis pasajes al infierno'), (110, 'tt0075187', 'María José Demare', 177, 'Seis pasajes al infierno'), (109, 'tt0075187', 'Elena Cruz', 177, 'Seis pasajes al infierno'), (108, 'tt0075187', 'Tom Castronuova', 177, 'Seis pasajes al infierno'), (107, 'tt0075187', 'María Aurelia Bisutti', 177, 'Seis pasajes al infierno'), (106, 'tt0075187', 'Hilda Bernard', 177, 'Seis pasajes al infierno'), (540, 'tt0074994', 'Mieko Takamine', 261, 'Tempyo no iraka'), (539, 'tt0074994', 'Daigo Kusano', 261, 'Tempyo no iraka'), (538, 'tt0074994', 'Mitsuo Hamada', 261, 'Tempyo no iraka'), (537, 'tt0074994', 'Masaaki Daimon', 261, 'Tempyo no iraka'), (536, 'tt0074994', 'Katsuo Nakamura', 261, 'Tempyo no iraka'), (161, 'tt0074994', 'Mieko Takamine', 261, 'Tempyo no iraka'), (160, 'tt0074994', 'Daigo Kusano', 261, 'Tempyo no iraka'), (159, 'tt0074994', 'Mitsuo Hamada', 261, 'Tempyo no iraka'), (158, 'tt0074994', 'Masaaki Daimon', 261, 'Tempyo no iraka'), (157, 'tt0074994', 'Katsuo Nakamura', 261, 'Tempyo no iraka'), (545, 'tt0078113', 'Jafarpree York', 262, 'Primitif'), (544, 'tt0078113', 'Rukman Herman', 262, 'Primitif'), (543, 'tt0078113', 'Johann Mardjono', 262, 'Primitif'), (542, 'tt0078113', 'Barry Prima', 262, 'Primitif'), (541, 'tt0078113', 'Enny Haryono', 262, 'Primitif'), (166, 'tt0078113', 'Jafarpree York', 262, 'Primitif'), (165, 'tt0078113', 'Rukman Herman', 262, 'Primitif'), (164, 'tt0078113', 'Johann Mardjono', 262, 'Primitif'), (163, 'tt0078113', 'Barry Prima', 262, 'Primitif'), (162, 'tt0078113', 'Enny Haryono', 262, 'Primitif'), (550, 'tt0077567', 'Niall Toibin', 263, 'The Sleep of Death'), (549, 'tt0077567', 'Brendan Price', 263, 'The Sleep of Death'), (548, 'tt0077567', 'Marilù Tolo', 263, 'The Sleep of Death'), (547, 'tt0077567', 'Patrick Magee', 263, 'The Sleep of Death'), (546, 'tt0077567', 'Per Oscarsson', 263, 'The Sleep of Death'), (171, 'tt0077567', 'Niall Toibin', 263, 'The Sleep of Death'), (170, 'tt0077567', 'Brendan Price', 263, 'The Sleep of Death'), (169, 'tt0077567', 'Marilù Tolo', 263, 'The Sleep of Death'), (168, 'tt0077567', 'Patrick Magee', 263, 'The Sleep of Death'), (167, 'tt0077567', 'Per Oscarsson', 263, 'The Sleep of Death'), (555, 'tt0078791', 'Carmen Maura', 264, 'Aquella casa en las afueras'), (554, 'tt0078791', 'Mara Goyanes', 264, 'Aquella casa en las afueras'), (553, 'tt0078791', 'Alida Valli', 264, 'Aquella casa en las afueras'), (552, 'tt0078791', 'Silvia Aguilar', 264, 'Aquella casa en las afueras'), (551, 'tt0078791', 'Javier Escrivá', 264, 'Aquella casa en las afueras'), (176, 'tt0078791', 'Carmen Maura', 264, 'Aquella casa en las afueras'), (175, 'tt0078791', 'Mara Goyanes', 264, 'Aquella casa en las afueras'), (174, 'tt0078791', 'Alida Valli', 264, 'Aquella casa en las afueras'), (173, 'tt0078791', 'Silvia Aguilar', 264, 'Aquella casa en las afueras'), (172, 'tt0078791', 'Javier Escrivá', 264, 'Aquella casa en las afueras'), (560, 'tt0078806', 'Frances Bay', 265, 'The Attic'), (559, 'tt0078806', 'Rosemary Murphy', 265, 'The Attic'), (558, 'tt0078806', 'Ruth Cox', 265, 'The Attic'), (557, 'tt0078806', 'Ray Milland', 265, 'The Attic'), (556, 'tt0078806', 'Carrie Snodgress', 265, 'The Attic'), (181, 'tt0078806', 'Frances Bay', 265, 'The Attic'), (180, 'tt0078806', 'Rosemary Murphy', 265, 'The Attic'), (179, 'tt0078806', 'Ruth Cox', 265, 'The Attic'), (178, 'tt0078806', 'Ray Milland', 265, 'The Attic'), (177, 'tt0078806', 'Carrie Snodgress', 265, 'The Attic'), (566, 'tt0078936', 'Shirley Knight', 266, 'Mondo cannibale'), (565, 'tt0078936', 'Lina Romay', 266, 'Mondo cannibale'), (564, 'tt0078936', 'Lina Romay', 266, 'Mondo cannibale'), (563, 'tt0078936', 'Jérôme Foulon', 266, 'Mondo cannibale'), (562, 'tt0078936', 'Sabrina Siani', 266, 'Mondo cannibale'), (561, 'tt0078936', 'Al Cliver', 266, 'Mondo cannibale'), (187, 'tt0078936', 'Shirley Knight', 266, 'Mondo cannibale'), (186, 'tt0078936', 'Lina Romay', 266, 'Mondo cannibale'), (185, 'tt0078936', 'Lina Romay', 266, 'Mondo cannibale'), (184, 'tt0078936', 'Jérôme Foulon', 266, 'Mondo cannibale'), (183, 'tt0078936', 'Sabrina Siani', 266, 'Mondo cannibale'), (182, 'tt0078936', 'Al Cliver', 266, 'Mondo cannibale'), (571, 'tt0078749', 'Michele Soavi', 267, 'Alien 2 - Sulla Terra'), (570, 'tt0078749', 'Benedetta Fantoli', 267, 'Alien 2 - Sulla Terra'), (569, 'tt0078749', 'Roberto Barrese', 267, 'Alien 2 - Sulla Terra'), (568, 'tt0078749', 'Mark Bodin', 267, 'Alien 2 - Sulla Terra'), (567, 'tt0078749', 'Belinda Mayne', 267, 'Alien 2 - Sulla Terra'), (192, 'tt0078749', 'Michele Soavi', 267, 'Alien 2 - Sulla Terra'), (191, 'tt0078749', 'Benedetta Fantoli', 267, 'Alien 2 - Sulla Terra'), (190, 'tt0078749', 'Roberto Barrese', 267, 'Alien 2 - Sulla Terra'), (189, 'tt0078749', 'Mark Bodin', 267, 'Alien 2 - Sulla Terra'), (188, 'tt0078749', 'Belinda Mayne', 267, 'Alien 2 - Sulla Terra'), (576, 'tt0078880', 'Patrick Hines', 268, 'Bloodrage'), (575, 'tt0078880', 'Ian Scott', 268, 'Bloodrage'), (574, 'tt0078880', 'Jerry McGee', 268, 'Bloodrage'), (573, 'tt0078880', 'Judith-Marie Bergan', 268, 'Bloodrage'), (

In [9]:
tabla_cast_film = pd.DataFrame(tabla_cast_id_film_id, columns = ['cast_id','idOwner','name','film_id','title'])

In [10]:
tabla_cast_film

tabla_cast_film.to_csv('../info_tablas_csv/tabla_actor_film_conid.csv')

In [13]:
import mysql.connector
import pandas as pd

# Conexión a la base de datos
cnx = mysql.connector.connect(
    user="root",
    password="AlumnaAdalab",
    host="127.0.0.1",
    database="CineParadiso",
    auth_plugin='mysql_native_password'
)

mycursor = cnx.cursor()

# Leer el CSV donde tienes la información
data_movies = pd.read_csv('../info_tablas_csv/tabla_actor_film_conid.csv')

# Reemplazar NaN con None para asegurar que los valores nulos se insertan correctamente
data_movies = data_movies.where(pd.notnull(data_movies), None)

# Verificar que el reemplazo se realizó correctamente
print(data_movies.head())

# Definir la consulta de inserción
query = ('INSERT INTO film_cast (cast_id,idOwner,name,film_id,title) VALUES (%s,%s,%s,%s,%s)')

# Convertir DataFrame a una lista de tuplas 
data_tuples = [tuple(x) for x in data_movies.to_numpy()]

# Iterar sobre cada tupla e insertar en la base de datos
for row in data_tuples:
    try:
        mycursor.execute(query, row)
    except mysql.connector.Error as err:
        print(f"Error insertando fila {row[0]}: {err}")

# Confirmar los cambios en la base de datos
cnx.commit()

# Cerrar el cursor y la conexión
mycursor.close()
cnx.close()

   cast_id    idOwner              name  film_id                       title
0      365  tt0077634    Paul Tanashian        1  The Great Skycopter Rescue
1      364  tt0077634   Russell Johnson        1  The Great Skycopter Rescue
2      363  tt0077634      Terry Michos        1  The Great Skycopter Rescue
3      362  tt0077634  William Marshall        1  The Great Skycopter Rescue
4      361  tt0077634          Aldo Ray        1  The Great Skycopter Rescue
Error insertando fila 365: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 364: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 363: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 362: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 361: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 343: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 5: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 4: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 3: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 2: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 1: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 370: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 369: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 368: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 367: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 366: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 10: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 9: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 8: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 7: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 6: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 375: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 374: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 373: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 372: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 371: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 15: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 14: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 13: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 12: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 11: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 381: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 380: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 379: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 378: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 377: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 376: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 21: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 20: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 19: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 18: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 17: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 16: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 386: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 385: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 384: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 383: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 382: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 26: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 25: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 24: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 23: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 22: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 391: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 390: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 389: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 388: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 387: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 396: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 395: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 394: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 393: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 392: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 401: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 400: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 399: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 398: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 397: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 405: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 404: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 403: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 402: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 406: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 27: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 411: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 410: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 409: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 408: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 407: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 32: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 31: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 30: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 29: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 28: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 416: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 415: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 414: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 413: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 412: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 37: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 36: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 35: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 34: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 33: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 419: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 418: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 417: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 40: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 39: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 38: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 424: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 423: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 422: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 421: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 420: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 45: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 44: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 43: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 42: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 41: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 429: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 428: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 427: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 426: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 425: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 50: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 49: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 48: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 47: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 46: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 434: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 433: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 432: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 431: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 430: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 55: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 54: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 53: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 52: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 51: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 439: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 438: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 437: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 436: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 435: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 60: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 59: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 58: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 57: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 56: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 444: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 443: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 442: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 441: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 440: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 65: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 64: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 63: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 62: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 61: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 445: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 66: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 451: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 450: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 449: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 448: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 447: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 446: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 72: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 71: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 70: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 69: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 68: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 67: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 453: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 452: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 74: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 73: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 458: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 457: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 456: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 455: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 454: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 79: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 78: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 77: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 76: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 75: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 463: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 462: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 461: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 460: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 459: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 84: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 83: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 82: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 81: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 80: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 468: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 467: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 466: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 465: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 464: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 89: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 88: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 87: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 86: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 85: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 474: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 473: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 472: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 471: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 470: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 469: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 95: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 94: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 93: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 92: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 91: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 90: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 479: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 478: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 477: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 476: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 475: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 100: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 99: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 98: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 97: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 96: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 484: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 483: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 482: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 481: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 480: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 105: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 104: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 103: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 102: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 101: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 489: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 488: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 487: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 486: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 485: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 110: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 109: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 108: 1054 (42S22): Unknown column 'idOwner' in 'field list'
Error insertando fila 107: 1054 (42S22): Unknown column 'idOwner' in 'field list'

In [ ]:
import mysql.connector
import pandas as pd

# Conexión a la base de datos
cnx = mysql.connector.connect(
    user="root",
    password="AlumnaAdalab",
    host="127.0.0.1",
    database="CineParadiso",
    auth_plugin='mysql_native_password'
)

mycursor = cnx.cursor()

query = ('ALTER TABLE film_cast DROP COLUMN idOwner')

# Convertir DataFrame a una lista de tuplas 
data_tuples = [tuple(x) for x in data_movies.to_numpy()]

# Iterar sobre cada tupla e insertar en la base de datos
for row in data_tuples:
    try:
        mycursor.execute(query, row)
    except mysql.connector.Error as err:
        print(f"Error insertando fila {row[0]}: {err}")

# Confirmar los cambios en la base de datos
cnx.commit()

# Cerrar el cursor y la conexión
mycursor.close()
cnx.close()

In [ ]:
import mysql.connector
import pandas as pd

# Conexión a la base de datos
cnx = mysql.connector.connect(
    user="root",
    password="AlumnaAdalab",
    host="127.0.0.1",
    database="CineParadiso",
    auth_plugin='mysql_native_password'
)

mycursor = cnx.cursor()

query = ('ALTER TABLE film_cast DROP COLUMN name')

# Convertir DataFrame a una lista de tuplas 
data_tuples = [tuple(x) for x in data_movies.to_numpy()]

# Iterar sobre cada tupla e insertar en la base de datos
for row in data_tuples:
    try:
        mycursor.execute(query, row)
    except mysql.connector.Error as err:
        print(f"Error insertando fila {row[0]}: {err}")

# Confirmar los cambios en la base de datos
cnx.commit()

# Cerrar el cursor y la conexión
mycursor.close()
cnx.close()

In [ ]:
import mysql.connector
import pandas as pd

# Conexión a la base de datos
cnx = mysql.connector.connect(
    user="root",
    password="AlumnaAdalab",
    host="127.0.0.1",
    database="CineParadiso",
    auth_plugin='mysql_native_password'
)

mycursor = cnx.cursor()

query = ('ALTER TABLE film_cast DROP COLUMN title')

# Convertir DataFrame a una lista de tuplas 
data_tuples = [tuple(x) for x in data_movies.to_numpy()]

# Iterar sobre cada tupla e insertar en la base de datos
for row in data_tuples:
    try:
        mycursor.execute(query, row)
    except mysql.connector.Error as err:
        print(f"Error insertando fila {row[0]}: {err}")

# Confirmar los cambios en la base de datos
cnx.commit()

# Cerrar el cursor y la conexión
mycursor.close()
cnx.close()